@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{font-family: 'Poppins', sans-serif;}
body {
    display: flex;
    gap: 20px ;
}
button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 0px;
    padding: 4px;
    border-radius: 10px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: aliceblue;
}

div {
    border: 1px solid black;
    padding:0px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(79, 79, 79, 0.415);
}